*   {font-family:'Arial Cyr',Verdana,Tahoma,Helvetica,Arial,'Sans Serif';
     font-style:normal;text-align:left;background-color:#000000;}
/* volume:том */
 vl {color:white;display:block; color:gold;
     font-size:18pt;line-height:18pt;font-weight:bold;}

     /* book:книга */
 bk {color:white;display:block; color:#77ffaa;   clear: left; padding: 2mm 0pt 0.5em 1em;
     font-size:16pt;line-height:16pt;font-weight:bold;}
/* book:книга */
 bn {color:white;display:inline; color:#77ffaa;  
     font-size:14pt;line-height:14pt;}
     
/* chapter:глава */
 ch {color:white;display:block; color:lime; clear: left; padding: 2mm; 
     font-size:16pt;line-height:16pt;font-weight:bold;}
/* chapter no:глава номер */
 cn {color:white;display:inline; color:lime;
     font-size:16pt;line-height:16pt;}
     
/* verse:стих */
 v  {color:white;display:block; padding: 2mm; border-left: medium;
     font-size:12pt;line-height:13pt;}
     
/* text:текст */
 t  {color:white;display:block; color:#ffcc99; float:left; 
     font-size:12pt;line-height:13pt;font-weight:bold;}
/* verse number:стих номер */
 n  {color:cyan; display:inline;color:lime; 
     font-size: 9pt;line-height:13pt;font-weight:normal;}
/* marker:маркер */
 m  {color:cyan; display:inline;color:gold; 
     font-size:12pt;line-height:13pt;}
